## Strings

In [1]:
'''
In Python specifically, strings are a sequence of Unicode characters (others use ASCII)
    - Creating Strings
    - Accessing Strings
    - Adding Chars to Strings
    - Editing Strings
    - Deleting Strings
    - Operations on Strings
    - String Functions
'''

'\nIn Python specifically, strings are a sequence of Unicode characters (others use ASCII)\n    - Creating Strings\n    - Accessing Strings\n    - Adding Chars to Strings\n    - Editing Strings\n    - Deleting Strings\n    - Operations on Strings\n    - String Functions\n'

##### Creating Strings

In [4]:
s = 'hello'
s = "hello"
s = '''hello''' # Multiline Strings
s = """hello"""
s = str(101)
print(s)

101

##### Accessing Strings

In [6]:
# Positive Indexing
s = 'hello world' # Python indexing strings starting from 0
print(s[0])
s[2]

h

'l'

In [7]:
# Negative Indexing
s = 'hello world'
print(s[-1])
print(s[-3])

d
r

##### Slicing

In [1]:
s = 'hello world'
print(s[0:5]) # hello
print(s[2:3]) # l
print(s[:5]) # hello
print(s[2:]) # llo world
print(s[:]) # hello world
print(s[0:9:2]) # hlowr
print(s[9:0:-1]) # lrow olle
print(s[9:0:-2]) # lo le
print(s[::-1]) # dlrow olleh -> reverse

hello
l
hello
llo world
hello world
hlowr
lrow olle
lo le
dlrow olleh

In [3]:
# Slicing - Negative Indexing
s = 'hello world'
print(s[-5:]) # world
print(s[-1:-6:-1]) # dlrow

world
dlrow

##### Editing and Deleting in Strings

In [5]:
s = 'hello world'
# s[0] = 'F'    # cannot edit strings

# Python strings are immutable

In [36]:
del s
# print(s)  #  NameError: name 's' is not defined
print()

##### Operations on Strings

In [9]:
# Arithmetic Operators - only addition and multiplication
print('Pune ' + 'Mumbai')
print('Pune ' * 5)

Pune Mumbai
Pune Pune Pune Pune Pune

In [10]:
# Relational Operators
'Pune' == 'pune'

False

In [2]:
'Mumbai' > 'Pune' # False - Because not compared based on characters
# Compared Lexiographically
# In dictionary, Pune is present after Mumbai

'Pune' > 'pune' # False - Because 'P' is present before 'p' in ASCII

False

In [21]:
# Logical Operators
# For python, empty string is false otherwise true

'hello' and 'world' # world - true and true
'hello' or 'world'  # hello - true or true
'' and 'world' # '' - false and true
'' or 'world' # world - false or true
not '' # true
not 'x' # false

False

In [26]:
# Membership Operators
'P' in 'Pune' # true
'p' in 'Pune' # false
'p' not in 'Pune' # true

True

##### Loops on String

In [22]:
for i in 'hello':
    print(i)

h
e
l
l
o

In [23]:
for i in 'hello':
    print('Pune')

Pune
Pune
Pune
Pune
Pune

## String Functions
#### 1. Commone Functions - Works on all data types (strings, lists, tuples, ....)

In [27]:
# len
len('Hello world')

11

In [28]:
# max
max('Hello world') # max character based on ASCII

'w'

In [30]:
# min
min('Hello-world') # min character based on ASCII

'-'

In [33]:
# sorted
sorted('Hello-world') # output is list
sorted('Hello-world', reverse=True) # reverse sorted

['w', 'r', 'o', 'o', 'l', 'l', 'l', 'e', 'd', 'H', '-']

#### 2. Works on only Strings - {creates copy, original is unchanged}

In [59]:
# capitalize
s = 'hello world'
print(s.capitalize()) # creates new string
print(s) # Original string will remain unchanged

Hello world
hello world

In [41]:
# title
s.title()

'Hello World'

In [42]:
# upper
s.upper()

'HELLO WORLD'

In [43]:
# lower
s.lower()

'hello world'

In [45]:
'HELLO world'.swapcase()

'hello WORLD'

In [4]:
# Count
'My name is Dev'.count('e')

2

In [51]:
# Find
'My name is Dev'.find('Dev') # first occurrence -> 11
'My name is Dev'.find('of') # first occurrence -> -1 (not found)

-1

In [52]:
# Index - same as find, just gives erroe if not found
'My name is Dev'.index('e')

6

In [55]:
# Endswith
'My name is Dev'.endswith('Dev')
# Startswith
'My name is Dev'.startswith('My')

True

In [58]:
# format
name = 'Dev'
place = 'Pune'
'My name is {}, I am from {}'.format(name, place)
f'My name is {name}, I am from {place}'

'My name is Dev, I am from Pune'

In [67]:
# isalnum
'india017gmail'.isalnum()

# isalpha
'aldskfjls'.isalpha()

# isdigit
'651465416'.isdigit()

# isidentifier
'first_name_5'.isidentifier()

True

In [70]:
# Split
'my name is dev'.split() # ['my', 'name', 'is', 'dev']
'dfa blalf dall ald fodalajdalfl'.split('a') # splitting on the basis of 'a' ['df', ' bl', 'lf d', 'll ', 'ld fod', 'l', 'jd', 'lfl']

['df', ' bl', 'lf d', 'll ', 'ld fod', 'l', 'jd', 'lfl']

In [76]:
# Join
'a'.join(['df', ' bl', 'lf d', 'll ', 'ld fod', 'l', 'jd', 'lfl'])
'-'.join('my name is dev') # 'm-y- -n-a-m-e- -i-s- -d-e-v'
'-'.join(['my', 'name', 'is', 'dev']) # 'my-name-is-dev'

'my-name-is-dev'

In [77]:
# Replace
'my name is dev'.replace('is dev', 'is rock')

'my name is rock'

In [78]:
# Strip - removes extra spaces
'dev              '.strip()

'dev'