## Tuples

In [ ]:
# Tuple is similar to a list. The difference is, changing the elements of tuples not possible
# Tuple is immutable list
# Tuples are faster than list because of immutability
# Tuples consumes less memory than list

In [4]:
# Creating a Tuple
t1 = ()
print(t1)

# Creating a tuple with single element
# t2 = (1) # this is treated as a single item not tuple
t2 = (1,) # this is a tuple
print(t2)

# Creating a tuple using type conversion
t3 = tuple('hello')
print(t3)

()
(1,)
('h', 'e', 'l', 'l', 'o')

In [5]:
# Accessing the items from tuple
t = (1, 2, 3, 4, 5)

# Indexing
print(t[0])
print(t[-1])

# Slicing
print(t[1:4])
print(t[::-1])

1
5
(2, 3, 4)
(5, 4, 3, 2, 1)

In [6]:
# Editing the tuple
# Tuples cannot be edited
# Not even Adding items
# Can delete whole tuple, but not some elements

In [7]:
# Operations on the tuple
# arithmetic (+, x)
# membership (in, not in)
# iteration

In [8]:
# Tuple Functions
# Common function - len(), min(), max(), sorted(), sum()
# Tuple Specific - count(), index()

In [1]:
# Tuple unpacking
a, b, c = (1, 2, 3)
print(a, b, c)

a, b, *others = (1, 2, 3, 4, 5)
print(a, b, *others)
print(*others)

1 2 3
1 2 3 4 5
3 4 5

## Sets

In [1]:
# A set is unordered collection of elements. Each element in the set is unique.
# It is used to perform mathematical operations like union, intersection, symmetric difference, etc.
# Characterstics:
    # Unordered  -> {1,2,3} is equal to {3,1,2}
    # Mutable
    # No Duplicates
    # Can't contain mutable data types (so, 2D set is not possible)

##### 1. Creating a set

In [5]:
# empty
s = {}   # this creates dictionary, bcuz of same syntax
print(type(s))

s = set({})  # empty set
print(type(s))

print(s)

<class 'dict'>
set()
<class 'set'>
{1, 2, 3, 4}

In [6]:
# 1D and 2D
s = {1,3,4,2}
print(s)
# s = {1,3,4,{2,6}}  -> not possible

{1, 2, 3, 4}

In [7]:
# homo and hetro
s = {1, 'hello', 3.34, True}
print(s) # {1, 3.34, 'hello'}
# here True is treated as 1, so becomes duplicate, not printed
# Sets use hashing algorithm, so answer is unordered

{1, 3.34, 'hello'}

In [8]:
# using type conversion
s = set([1,5,3,2])
print(s)

{1, 2, 3, 5}

In [10]:
# duplicates not allowed
s = {1,1,2,5,5,3,3,1,7,8,8}
print(s)

{1, 2, 3, 5, 7, 8}

In [12]:
# set can't have mutable items
# s = {1, 6, 4, [5, 3, 2]}  --> Error - list is mutable
# s = {1, 6, 4, {5, 3, 2}}  --> Error - set is mutable
s = {1, 6, 4, (5, 3, 2)}  # --> Tuples are immutable, can be used
print(s)

{(5, 3, 2), 1, 4, 6}

In [13]:
# Accessing is not possible
# Sets does not have indexes, positions are unkown
# Editing is also not possible

In [15]:
# Addint items
s = {1, 2, 3, 4, 5}
s.add(8)
s

{1, 2, 3, 4, 5, 8}

In [17]:
s.update([11, 12, 13]) # Adding multiple items
s

{1, 2, 3, 4, 5, 8, 11, 12, 13}

In [26]:
# Deleting items
s = {1, 2, 3, 4, 5, 6, 7}
# del s -> deletes everything

# discard
s.discard(3)

# remove
# s.remove(4) -> same as discard, but gives error is item not present

# pop
s.pop() # Randomly removes item

# clear
s.clear() # Makes the set empty
s

set()

### Sets Operations

In [37]:
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

# Union (|)
# s1.union(s2)
print(s1 | s2)     # Prints both items once, no duplicates

# Intersection (&)
print(s1 & s2)     # Prints only common elements

# Difference (-)
print(s1 - s2)     # Prints items of s1 that are not present in s2
print(s2 - s1)     # Prints items of s2 that are not present in s1

# Symmetric difference (^)
print(s1 ^ s2)     # Prints everything except common elements

# Membership Test
print(1 in s1 & s2) # False
print(4 in s1 & s2) # True

# Iteration
for i in s1:
    print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
False
True
1
2
3
4
5

In [38]:
# Common function - len(), min(), max(), sorted(), sum()
# sorted in list

In [39]:
# union update
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s1.update(s2)
print(s1) # Updates whole set
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [40]:
# intersection_update
# s1.intersection(s2)
s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [43]:
# difference / difference_update
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [45]:
# symmetric_difference / symmetric_difference_update
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [49]:
# isdisjoint, issubset, issuperset
s1 = {1, 2, 3, 4, 5}
s2 = {6, 7, 8}
print(s1.isdisjoint(s2)) # no common elements

s1 = {1, 2, 3, 4, 5}
s2 = {4, 5}
print(s2.issubset(s1)) # s2 is subset of s1

print(s1.issuperset(s2)) # s1 is superset of s2

True
True
True

In [50]:
# copy -> creates shallow copy, stored on different memory locations
s1 = {6, 7, 8}
s2 = s1.copy()
s2

{6, 7, 8}

In [52]:
# Frozen set - cannot add, delete
fs = frozenset([1, 2, 3, 4])
fs

frozenset({1, 2, 3, 4})

In [55]:
# Set Comprehension
{i*i for i in range(1, 11) if i%2==0}

{4, 16, 36, 64, 100}

## Dictionary

In [15]:
# Dictionary in Python is a collection of Key-value pairs
# Characteristics
    # Mutable
    # Indexing has no meaning
    # Keys can't be duplicated
    # Keys can't be mutable items -> Keys can't be list, sets, or dictionaries

d1 = {'name':'Dev', 'age':22, 'gender':'male'}
d1

{'name': 'Dev', 'age': 22, 'gender': 'male'}

##### Creating a dictionary

In [16]:
# empty dictionary
d = {}
print(d)

# 1D dictionary
d1 = {'city':'Pune', 'state':'Maharashtra'}
print(d1)

# with mixed keys
d2 = {(1,2,3):1, 'color':'blue'}  # tuple is allowed as key, as it is immutable
print(d2)

# 2D dictionary
d3 = {
    'name':'Dev',
    'age':22,
    'address':{
        'state':'Maharashtra',
        'city':'Pune'
        }
    }
print(d3)

# using sequence and dict function
# d4 = dict([(1, 2), ('name', 'dev'), (2, 3), ('digit', 456.645)])  # List of tuples converted to dictionary
# print(d4)

{}
{'city': 'Pune', 'state': 'Maharashtra'}
{(1, 2, 3): 1, 'color': 'blue'}
{'name': 'Dev', 'age': 22, 'address': {'state': 'Maharashtra', 'city': 'Pune'}}

In [35]:
# Accessing the dictionary
my_dict = {
    'name':'Dev',
    'age':22,
    'address':{
        'state':'Maharashtra',
        'city':'Pune'
    }
}
# Two ways to access
print(my_dict['name'])
print(my_dict.get('age'))

# Accessing 2D dictionary
print(my_dict['address']['city'])

Dev
22
Pune

In [21]:
# Adding key-value pair
d1 = {'city':'Pune', 'state':'Maharashtra'}
d1['country'] = 'India'
print(d1)

{'city': 'Pune', 'state': 'Maharashtra', 'country': 'India'}

In [34]:
# Removing key-value pair
d = {
    'name':'Jack',
    'age':35,
    'height':175,
    'weight':70.2,
    'gender':'male',
    'language':'English',
    'address':{
        'city':'New York',
        'country':'United States',
        'code':456123
    }
}

# 1. pop
d.pop('weight')
print(d)

# 2. popitem
d.popitem() # deletes last key-value pair
print(d)

# 3. del
# del d     # deletes the dict
del d['height'] # same as d.pop()
print(d)  

# 4. clear
d.clear()
print(d)

{'name': 'Jack', 'age': 35, 'height': 175, 'gender': 'male', 'language': 'English', 'address': {'city': 'New York', 'country': 'United States', 'code': 456123}}
{'name': 'Jack', 'age': 35, 'height': 175, 'gender': 'male', 'language': 'English'}
{'name': 'Jack', 'age': 35, 'gender': 'male', 'language': 'English'}
{}

In [37]:
# Editing key-value pair
d = {
    'name':'Jack',
    'age':35,
    'height':175,
    'weight':70.2,
    'gender':'male',
    'language':'English',
    'address':{
        'city':'New York',
        'country':'United States',
        'code':456123
    }
}

d['age'] = 40
d['address']['city'] = 'Washington'
d

{'name': 'Jack',
 'age': 40,
 'height': 175,
 'weight': 70.2,
 'gender': 'male',
 'language': 'English',
 'address': {'city': 'Washington', 'country': 'United States', 'code': 456123}}

##### Dictionary Operations

In [44]:
# Membership
print('name' in d) # works only on keys

# Iteration
for i in d:
    print(i, d[i])

True
name Jack
age 40
height 175
weight 70.2
gender male
language English
address {'city': 'Washington', 'country': 'United States', 'code': 456123}

##### Dictionary Functions

In [50]:
#len/sorted/min/max
len(d) # gives number of key-value pairs
sorted(d) # gives sorted keys in list
# min/max on the basis of ASCII
min(d)
max(d)

'weight'

In [52]:
# items/keys/values
print(d.items()) # prints all items in list of tuples format
print(d.keys()) # prints all keys
print(d.values()) # prints all values

dict_items([('name', 'Jack'), ('age', 40), ('height', 175), ('weight', 70.2), ('gender', 'male'), ('language', 'English'), ('address', {'city': 'Washington', 'country': 'United States', 'code': 456123})])
dict_keys(['name', 'age', 'height', 'weight', 'gender', 'language', 'address'])
dict_values(['Jack', 40, 175, 70.2, 'male', 'English', {'city': 'Washington', 'country': 'United States', 'code': 456123}])

In [54]:
# update
d1 = {1:2, 3:4, 5:6}
d2 = {5:8, 9:10}
d1.update(d2)
print(d1)

{1: 2, 3: 4, 5: 8, 9: 10}

##### Dictionary Comprehension

##### { key : value for vars in iterable }

In [59]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1, 11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [61]:
# using existing dict
distances = {'delhi':1000, 'mumbai':2000, 'pune':3000}
{ key : value*0.62 for (key, value) in distances.items() }

{'delhi': 620.0, 'mumbai': 1240.0, 'pune': 1860.0}

In [62]:
# using zip
days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
temp_c = [30.5, 32.6, 31.8, 33.4, 29.8, 30.2, 29.9]

{i : j for (i, j) in zip(days, temp_c)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [65]:
# using if condition
products = {'phone':10, 'laptop':0, 'charger':32, 'tablet':0}
{key : value for (key, value) in products.items() if value > 0}

{'phone': 10, 'charger': 32}

In [67]:
# Nested Comprehension
# print tables of number from 2 to 4

{i: {j:i*j for j in range(1, 11)}  for i in range(2, 5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}